*{
    padding: 0;
    margin: 0;
    background-color:#FFFBF7;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contenedor-sobreMi{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:#FFFBF7;
    border:0;
}

.contenedor-texto{
    width: 50vw;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 25px 10px 30px 10px;
}

.contenedor-texto img{
    width: 40%;
    align-self: center;
    padding: 0 0 10px 0;
}
.contenedor-texto p{
    padding: 15px 20px 20px 20px;
    text-align: justify;
    margin: 0 60px 0 60px;
}

.contenedor-texto a{
    color: black;
}

.contenedor-botones{
    padding: 15px 0;
}

.contenedor-botones a{
    width: 50%;
    padding: 7px;
    margin: 10px auto;
    border-radius: 20px;
    border: 3px solid #FFB6C1;
    background-color:#FFFBF7;
    text-decoration: none;
    color: black;
}

.contenedor-imagen{
    width: 50vw;
    overflow: hidden;
    height: 100vh;
}

#fotomate{
    width: 100%;
    height: 100vh;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    display: block;
    object-position: 30% 70%;
}

